<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>Untitled Document</title>
</head>

<body>
<form id="form1" name="form1" method="post" action="">
  <table width="200" border="1">
    <tr>
      <td scope="col"><a href="/view_shop">Viewandverify_shop</a></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/view_approved_shop">view_verified_shop</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/add_parking_slot">add_parking_slot</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/view_parking_slot">view_parking_slot</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/view_slot_booking">view_slot_booking</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/add_rental_space">add_rental_space</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/view_rental_space">view_rental_space</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/view_rental_request_shop">view_request_from_shop</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/view_rental_request_customer">view_request_from_user</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/add_security">add_security</a></div></td>
    </tr>
    <tr>
      <td><div align="center"><a href="/view_security">view_security</a></div></td>
    </tr>
      <tr>
      <td><div align="center"><a href="/logins">logout</a></div></td>
    </tr>
  </table>
</form>
</body>
</html>
